<div class="card mb-2">
    <div class="card-header">
        <b>Danh Mục</b>
    </div>
    <div class="list-group  ">
        <a href="/product/list?cid=1" class="list-group-item list-group-item-action">First item</a>
        <a href="/product/list?cid=2" class="list-group-item list-group-item-action">First item</a>
        <a href="/product/list?cid=3" class="list-group-item list-group-item-action">First item</a>
        <a href="/product/list?cid=4" class="list-group-item list-group-item-action">First item</a>
        <a href="/product/list?cid=5" class="list-group-item list-group-item-action">First item</a>
        <a href="/product/list?cid=6" class="list-group-item list-group-item-action">First item</a>
        <a href="/product/list?cid=7" class="list-group-item list-group-item-action">First item</a>
    </div>
</div>