<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="myapp" ng-controller="myctrl">
<center>
    <h3>Authorizing</h3>
    <table ng-if="db" style="width: 100%;" border="1">
        <thead>
        <tr>
            <th></th>
            <th ng-repeat="role in db.roles">{{role.name}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="acc in db.accounts">
            <td>{{acc.username}}</td>
            <td ng-repeat="role in db.roles">
                <input type="checkbox" ng-checked="index_of(acc.username,role.id) >= 0"
                       ng-click="update(acc.username,role.id)">
            </td>
        </tr>
        </tbody>
    </table>
</center>

<script>
    const app = angular.module('myapp', [])
    app.controller("myctrl", function ($scope, $http) {
        $http.get('/rest/authorities').then(res => {
            $scope.db = res.data
            console.log(res.data);
        })

        $scope.index_of = function (username, role) {
            return $scope.db.authorities
                .findIndex(a => a.account.username == username && a.role.id == role)
        }
        $scope.update = function (username, role) {
            let index = $scope.index_of(username, role);
            if (index >= 0) {
                let id = $scope.db.authorities[index].id
                $http.delete(`/rest/authorities/${id}`).then(res => {
                    $scope.db.authorities.splice(index, 1);
                })
            } else {
                let authority = {
                    account: {username: username},
                    role: {id: role}
                }
                $http.post(`/rest/authorities/`, authority).then(res => {
                    $scope.db.authorities.push(res.data);
                })
            }
        }
    })
</script>
</body>

</html>